<html><head>
<meta charset="UTF-8">
<title>Nasze aktualne pomysły</title>
</head>
<body>
    <!-- wróć do "Nasze aktualne pomysły" -->
    <svg id="banner1" width="860" height="100">
        <rect x="20" y="10" rx="20" ry="20" width="720" height="70" style="fill:blue;stroke:black;stroke-width:5;opacity:0.5;"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">Nasze aktualne pomysły</text>
      </svg>
    <br/>
      <svg id="banner2" width="860" height="100">
        <rect x="20" y="10" rx="20" ry="20" width="640" height="70" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">Sprzedaż obrazów Artura</text>
      </svg>
    <br/>
      <!-- pomysł 2 -->
      <svg id="banner3" width="860" height="150">
        <rect x="20" y="10" rx="20" ry="20" width="830" height="120" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;font-weight:bold"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">
          <tspan dx="50">Pośrednictwo w wyborze opieku-</tspan>
          <tspan x="50" dy="50">nów dla osób niepełnosprawnych</tspan>
        </text>
      </svg>
    <br/>
      <!-- pomysł 3 -->
      <svg id="banner4" width="860" height="150">
        <rect x="20" y="10" rx="20" ry="20" width="530" height="120" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;font-weight:bold"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">
          <tspan dx="50">Blog Igora o tym jak</tspan>
          <tspan x="50" dy="50">żyć pełnią życia</tspan>
        </text>
      </svg>
    <br/>
      <!-- pomysł 4 -->
      <svg id="banner5" width="860" height="150">
        <rect x="20" y="10" rx="20" ry="20" width="660" height="120" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;font-weight:bold"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">
          <tspan dx="50">Konkurs twórczości osób</tspan>
          <tspan x="50" dy="50">niepełnosprawnych</tspan>
        </text>
      </svg>
    <br/>
      <!-- pomysł 5 -->
      <svg id="banner6" width="860" height="100">
        <rect x="20" y="10" rx="20" ry="20" width="410" height="70" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;font-weight:bold"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">Rozwój strony</text>
      </svg>
    <br/>
      <!-- pomysł 6 -->
      <svg id="banner7" width="860" height="150">
        <rect x="20" y="10" rx="20" ry="20" width="830" height="120" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;font-weight:bold"></rect>
        <text dx="50" dy="60" style="fill: white; stroke: #000000;  font-size: 48px; font-family: Arial; font-weight:bold;">
          <tspan dx="50">Sprzedaż własnego narzędzia do</tspan>
          <tspan x="50" dy="50">zarządzania tożsamością</tspan></text>
      </svg>


</body></html>
